<nav class="nav-extended blue darken-1 absolute" >
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">TODO</a>
        <a href="#" data-target="mobile-demo" class=" right sidenav-trigger"> <i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="#">Main page</a>
            </li>
            <li>
                <a href="#">Tasks</a>

            </li>
             <li>
                <a href="#">My account</a>

            </li>
            
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
 <li>
    <a href="#">Main page</a>
 </li>
 <li>
    <a href="#">Tasks</a>

 </li>
 <li>
    <a href="#">My account</a>
 </li>



</ul>